repos:
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.64.0
    hooks:
      - id: terraform_fmt
      - id: terraform_docs
        args:
          - --args=--hide providers
      - id: terraform_tfsec
      - id: terraform_validate
